[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lmms"]
	path = lmms
	url = https://github.com/cran/lmms
	registered = false
[submodule "netOmics"]
	path = netOmics
	url = https://github.com/abodein/netomics
[submodule "timeOmics"]
	path = timeOmics
	url = https://github.com/abodein/timeomics
